<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<!-- <encoder> <pattern>%d{yyyy-MM-dd HH:mm:ssS} %5p [%c@%t]:%L - %m%n</pattern> </encoder> -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ssS} %5p [%c]:%L-%m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.zw" level="debug" additivity="true"/>

	<root level="info">
		<appender-ref ref="stdout" />
	</root>

</configuration>